*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
  
.header{
  margin-bottom: 1rem;
}

.sub-header:first-of-type{
    margin-bottom: .5rem;

    span{
        padding: .5rem .8rem ;
        background-color: rgb(254, 123, 254);
        color: rgb(88, 1, 88);
        border-radius: 30px;

        a{
            text-decoration: none;
        }
    }
}

.sub-header:last-of-type{
    margin-bottom: 2rem;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  justify-items: center;
  gap: 2rem;

  .nav{
    width: 80%;

    ul{
        width: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        
        li{
            padding: 2rem;
            position: relative;

            a{
                text-decoration: none;
                color: black;
                font-size: 1.5rem;
                position: relative;
            }
        }
    }
  }

  .nav-1{
    li::after{
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        top: 20px;
        left: 0;
        background-color: black;
        transform-origin: left;
        transform: scale(0);
        transition: all .5s ease-out;
    }

    li::before{
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 20px;
        left: 0;
        background-color: black;
        transform-origin: right;
        transform: scale(0);
        transition: all .5s ease-out;
    }

    li:hover::after, li:hover::before{
        transform: scale(1);
    }
  }

  .nav-2{
    li::after, li::before{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        opacity: 0;
        transition: all .2s ease-out;
    }

    li::after{
        top: 10px;
        left: 10px;
        border-top: 4px solid black;
        border-left: 4px solid black;
    }

    li::before{
        bottom: 10px;
        right: 10px;
        border-bottom: 4px solid black;
        border-right: 4px solid black;
    }

    li:hover::after, li:hover::before{
        opacity: 1;
    }

    li:hover::after{
        top: 3px;
        left: 0px;
    }

    li:hover::before{
        bottom: 3px;
        right: 0px;
    }

    li{
        padding: 1.5rem 1rem !important;
    }

    a{
        transition: all .2s ease-out;
        padding: .5rem 1rem;
        border-radius: 5px;
    }

    li:hover a{
        background-color: black;
        color: white;
    }
  }

  .nav-3{
    li{
        overflow: hidden;
        padding-block: 1rem !important;
        margin-block: 1rem !important;
    }

    li:hover a{
        color: white;
    }

    li::after, li::before, span::after, span::before{
        content: "";
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: black;
        top: 0;
        z-index: -1;
        transition: all .3s ease-out;
        transform: translateY(-100%);
        transform-origin: top;
    }

    li::after{
        left: 0;
    }

    li::before{
        left: 25%;
        transition-delay: .1s;
    }

    span::after{
        left: 50%;
        transition-delay: .2s;
    }

    span::before{
        left: 75%;
        transition-delay: .3s;
    }

    li:hover::after, li:hover::before, li:hover span::after, li:hover span::before{
        transform: translateY(0);
    }
  }

  .nav-4{
    li{
        padding-inline: 1rem !important;
        margin-inline: 1rem !important;
    }

    li::after, li::before{
        content: "";
        position: absolute;
        top: 80%;
        width: 50%;
        height: 4px;
        background-color: red;
        transform: scale(0);
        transition: all .3s ease-out;
    }

    li::after{
        left: 0;
        transform-origin: left;
    }

    li::before{
        left: 50%;
        background-color: blue;
        transform-origin: right;
    }

    li:hover::after, li:hover::before{
        transform: scale(1);
    }

    li:hover::after{
        left: 50%;
    }

    li:hover::before{
        left: 0;
    }
  }

  .nav-5{
    li{
        padding: .5rem 1rem !important;
        margin: 1.5rem 1rem !important;
        transition: all .3s ease-out;
    }

    ul:hover > li{
        filter: blur(4px);
    }

    li:hover{
        transform: scale(1.3);
        filter: blur(0) !important;
        background-color: red;
    }

    li:hover a{
        color: white;
    }
  }

  .nav-6{
    li{
        overflow: hidden;
        padding: .8rem 1rem !important;
        margin: 1.2rem 1rem;
        transition: all .2s linear;
    }

    li a{
        color: transparent !important;
    }

    li::before{
        content: attr(value);
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        transition: all .2s linear;
    }

    li::after{
        content: attr(value);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        transition: all .2s linear;
    }

    li:hover::after, li:hover::before{
        transform: translateY(100%);
        color: white;
    }

    span::before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: red;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: left;
        transform: scaleX(0) ;
        transition: all .2s linear;
        z-index: -2;
    }

    li:hover span::before{
        transform: scaleX(1);
    }
  }
  .nav-7{
    li{
        padding: 1rem !important;
        margin: 1rem;
    }

    span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background-color: black;
        z-index: -1;
        transform: translateY(10%) scale(0);
        transition: all .2s ease-out;
    }

    li:hover span{
        transform: translateY(10%) scale(1);
    }

    li:hover a{
        color: white !important;
    }

    li::after, li::before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: black;
        opacity: 0;
        transition: all .2s ease-out;
    }

    li::before{
        top: -30px;
    }

    li::after{
        bottom: -30px;
    }

    li:hover::after, li:hover::before{
        opacity: 1;
    }

    li:hover::before{
        top: -5px;
    }

    li:hover::after{
        bottom: -2px;
    }
  }
  .nav-8{
    li::after, li::before, span::after, span::before{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        transition: all .2s ease-out;
        opacity: 0;
    }

    li:hover::after, li:hover::before, li:hover span::after, li:hover span::before{
        opacity: 1;
    }

    li::after{
        top: 0px;
        left: 0px;
        border-top: 3px solid black;
        border-left: 3px solid black;
    }

    li:hover::after{
        top: 12px;
        left: 8px;
    }

    li::before{
        left: 0px;
        bottom: 0px;
        border-bottom: 3px solid black;
        border-left: 3px solid black;
    }

    li:hover::before{
        left: 8px;
        bottom: 12px;
    }

    span::after{
        right: 0px;
        top: 0px;
        border-right: 3px solid black;
        border-top: 3px solid black;
    }

    li:hover span::after{
        right: 8px;
        top: 12px;
    }

    span::before{
        right: 0px;
        bottom: 0px;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
    }

    li:hover span::before{
        right: 8px;
        bottom: 12px;
    }
  }
  .nav-9{
    li{
        padding: 1rem 1.5rem !important;
        margin: 1rem .5rem;
    }

    li::after, li::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all .2s ease-out;
    }

    li::after{
        left: -1px;
        top: -1px;
        border-top: 2px solid black;
        border-left: 2px solid black;
    }

    li::before{
        right: -1px;
        bottom: -1px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }

    li:hover::after, li:hover::before{
        width: 20px;
        height: 20px;
        transform: rotate(360deg);
    }
  }
  .nav-10{
    li a{
        font-size: 4rem !important;
        color: black !important;
        -webkit-text-stroke: 1px white;
    }

    li:hover a{
        color: transparent !important;
        -webkit-text-stroke: 1px black;
    }

    li:hover::after, li:hover::before{
        content: attr(value);
        position: absolute;
        width: 100%;
        height: 100%;
    }

    li:hover::after{
        top: -5px;
        left: 5px;
        font-size: 4rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
        color: red !important;
    }

    li:hover::before{
        top: -8px;
        left: 8px;
        font-size: 4rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(0, 140, 255) !important;
        z-index: 2;
    }
  }
}
  
  /*# sourceMappingURL=style.css.map */